<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258044886668-gaubdaf7aamo1ugc3j7a2c5canncnphc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258044886668-gaubdaf7aamo1ugc3j7a2c5canncnphc</string>
	<key>API_KEY</key>
	<string>AIzaSyDkcNCyjY7MEG9Jek-d9TV1K9OgFtDAVM8</string>
	<key>GCM_SENDER_ID</key>
	<string>258044886668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.ph.prodea</string>
	<key>PROJECT_ID</key>
	<string>prodea-pi</string>
	<key>STORAGE_BUCKET</key>
	<string>prodea-pi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258044886668:ios:20069634b33cb8113205a9</string>
</dict>
</plist>